#notes div.suggestions {
    border-radius: 5px;
    border:deepskyblue;
    border-width:thick;
    border-style: groove;
}

#notes ol {
    list-style: disc;    
}

ol{
    list-style: disc;    
    font-size: 16px;
}

#like {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

#left {
    padding-top: 5%;
    width: calc(70% - 3px);
    border-right: 3px solid darkblue;
    float: left;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}

#right {
    padding-top:0;
    width: calc(30% + 3px);
    float: right;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}  

.nema_podvlacenja{
    text-decoration: none;
  }