#UserDropdownMenu{
	position: absolute;
	top: 38px;
	right: 0px;
}

#JigglypuffFooterImage{
	position: relative;
	width: 100px;
	height: 100px;
	top: 100px;
}

#Mouth{
	position: relative;
	right:74px;
	top:112px;
	display:none;
}

#JigglypuffFooterImage:hover + #Mouth{
	display:inline;
}